html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Playfair Display';
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.logoImage {
    max-width: 150px;
    max-height: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 4.1em;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    border-bottom: 2px solid #489FB5;
    bottom: -5px;
}

nav ul li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    border-bottom: 2px solid #489FB5;
    bottom: -5px;
}

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
    justify-content: space-between;
}

.left-col {
    width: 55%;
    margin: 2em;
}

.right-col {
    flex-grow: 1;
    margin: 2em;
}

h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
}

.subHead{
    font-size: 1.8rem;
}

.cta-buttons {
    margin: 5em 0;
}

.cta-buttons, .secondary-cta {
    display: flex;
    gap: 2em;
}

.secondary-cta {
    display: block;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    padding: 1em 0;
    align-items: center;
}

.secondary-cta svg {
    width: 1.2rem;
    transition-duration: 400ms;
}

button {
    background-color: #489FB5;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
}

.bio {
    width: 100%;
    gap: 3em;
    padding: 4em;
    margin-left: 0;
    margin-right: 5em;
    border: 1px solid black;
    border-radius: 0.8em;
    position: relative;
}

.bio:before {
    position: absolute;
    content: "";
    background: url(../images/confetti.svg);
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    z-index: 2;
}

.catch {
    font-size: 3.3rem;
    margin: 20px;
    font-weight: 300;
    line-height: 100%;
    width: 100%;
    position: absolute;
    top: -6px;
    left: -2px;
    display: block;
}

.bio-text {
    font-size: 1.4rem;
    margin: 0;
    width: 100%;
    margin-top: 70px;
}

/* Right column Gallery */

.right-col {
    display: grid;
    gap: 2.3em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "top top"
    "left right"
    "left bottomR";
}

.card1 {
    grid-area: top;
    background-image: url('/images/twoCarBlackSilver.jpg.jpg');
}

.card2{
    grid-area: right;
    background-image: url('/images/scooter.jpg.jpg');
}

.card4 {
    grid-area: bottomR;
    background-image: url('/images/strollerBlackYellow.jpg.jpg');
}

.card3 {
    grid-area: left;
    background-image: url('/images/supOrTurYellowBlack.jpg.jpg');
}

.card {
    border-radius: 0.8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
}

.card-details {
    background-color: white;
    border-radius: 0.6em;
    padding: 0.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-details a {
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
}

.card-details p {
    font-size: 1.4rem;
    margin: 0;
}

/* Micro Interactions */

nav ul li a:hover:before {
    width: 100%;
    
}

.primary-cta:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.secondary-cta:hover svg {
    transform: translatex(10px);
}

.secondary-cta:hover {
    text-decoration: underline;
}